<div class="container">
  <div class="row pt-4">
    <div class="col-12 col-md-6 col-lg-3">
      <strong>Project</strong>
      <ul class="list-unstyled">
        <li>
          <a href="https://github.com/TypeCtrl/angular-parts">Frontend Source Code</a>
        </li>
        <li>
          <a href="https://github.com/TypeCtrl/angular-parts-data">Package/Data Repository</a>
        </li>
        <li>
          <a href="https://github.com/TypeCtrl/angular-parts/issues">Support / Bug Tracker</a>
        </li>
        <!-- TDOO: submit a package -->
        <!-- <li>
          <a href="/publish">Submit a Package</a>
        </li> -->
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <strong>Made with</strong>
      <ul class="list-unstyled">
        <li>
          <a href="https://angular.io">Angular</a>
        </li>
        <li>
          <a href="https://npms.io">npms.io</a>
        </li>
        <li>
          <a class="my-2" href="https://www.algolia.com">
            <img style="height: 1em;opacity: 0.78;" src="/assets/search-by-algolia-white.svg">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

