
  <div class="container">
    <div class="row pt-4">
      <div class="col-3">
        <h6>Project</h6>
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/TypeCtrl/angular-parts">Source Code Repository</a>
          </li>
          <li>
            <a href="https://github.com/TypeCtrl/angular-parts-data">Package/Data Repository</a>
          </li>
          <li>
            <a href="https://github.com/TypeCtrl/angular-parts/issues">Support / Bug Tracker</a>
          </li>
          <!-- TDOO: submit a package -->
          <!-- <li>
            <a href="/publish">Submit a Package</a>
          </li> -->
        </ul>
      </div>
      <div class="col-3">
        <h6>Made with</h6>
        <ul class="list-unstyled">
          <li>
            <a href="https://npms.io/">npms.io</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <h6>Angular</h6>
        <ul class="list-unstyled">
          <li>
            <a href="https://angular.io/">Angular Homepage</a>
          </li>
          <li>
            <a href="https://angular.io/docs">Angular Docs</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-end align-items-end text-right" style="height: 100%">
          <a class="my-2" href="https://www.algolia.com">
            <img style="height: 1em;opacity: 0.75;" src="/assets/search-by-algolia-white.svg">
          </a>
        </div>
      </div>
    </div>
  </div>

