<div class="container text-white">
  <div class="row">
    <div class="col-12 mb-3">
      <app-searchbar></app-searchbar>
    </div>
    <div class="col-12" *ngIf="package">
      <div class="bg-primary pt-3 px-3 pt-md-5 px-md-5 pb-4">
        <div class="d-flex justify-content-between">
          <div>
            <h4 class="d-inline">
              {{ package.name }}
            </h4>
            <p class="d-inline text-muted-primary">
              <span class="small"><em>v{{ package.version }}</em> updated {{ package.updated * 1000 | daysago }}</span>
            </p>
          </div>
          <!-- tags for desktop -->
          <div class="text-muted-primary mb-2 text-right d-none d-md-inline">
            <span class="badge badge-primary border round mr-1" *ngFor="let tag of package._tags">{{ tag }}</span>
            <fa-icon class="mr-1 mt-1" [styles]="{'vertical-align': 'text-bottom'}" [icon]="['fas', 'tags']"></fa-icon>
          </div>
        </div>
        <p class="card-text text-muted-primary mb-2">
          {{ package.description }}
        </p>
        <!-- tags for mobile -->
        <div class="text-muted-primary mb-2 d-md-none">
          <fa-icon class="mr-1 mt-1" [styles]="{'vertical-align': 'text-bottom'}" [icon]="['fas', 'tags']"></fa-icon>
          <span class="badge badge-primary border round mr-1" *ngFor="let tag of package._tags">{{ tag }}</span>
        </div>
        <div class="d-flex flex-row text-white">
          <div class="mr-2 px-1" style="padding-top: 1px" ngbTooltip="Downloads">
            <fa-icon [icon]="['fas', 'arrow-alt-circle-down']"></fa-icon>
            <ng-template [ngIf]="package.downloadsCount > 1000">
              {{ package.downloadsCount / 1000 | number:'1.0-0' }}k
            </ng-template>
            <ng-template [ngIf]="package.downloadsCount < 1000">
              {{ package.downloadsCount | number:'1.0-0' }}
            </ng-template>
          </div>
          <div class="mr-2" style="padding-top: 1px" ngbTooltip="GitHub Stars">
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
            <ng-template [ngIf]="package.stars > 1000">
              {{ package.stars / 1000 | number:'1.0-0' }}k
            </ng-template>
            <ng-template [ngIf]="package.stars < 1000">
              {{ package.stars | number:'1.0-0' }}
            </ng-template>
          </div>
        </div>
      </div>
      <div class="bg-primary-dark px-3 px-md-5 py-2">
        <div class="text-uppercase">
          <a class="small mr-2 card-link" [href]="package.homepageUrl" *ngIf="package.homepageUrl">homepage</a>
          <a class="small mr-2 card-link" [href]="package.repositoryUrl" *ngIf="package.repositoryUrl">repository</a>
          <a class="small mr-2 card-link" [href]="package.npmUrl" *ngIf="package.npmUrl">npm</a>
          <a class="small mr-2 card-link" [href]="package.issuesUrl" *ngIf="package.issuesUrl">issues</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3">
  <div class="row">
    <div class="col-12">
      <div class="p-2 px-md-5 py-md-3 readme" [innerHTML]="readme"></div>
    </div>
  </div>
</div>
