<div class="container text-white">
  <div class="row">
    <div class="col-12 mb-3">
      <app-searchbar></app-searchbar>
    </div>
    <div class="col-12" *ngIf="package">
      <div class="bg-primary rounded-top pt-3 px-3 pt-md-5 px-md-5 pb-4">
        <div class="mb-1 d-flex justify-content-between">
          <div>
            <h4 class="d-inline">
              {{ package.name }}
            </h4>
            <div class="mb-1 d-md-inline text-muted-primary">
              <span class="small">
                <em>
                v{{ package.version }} published {{ package.updated * 1000 | daysago }}
                </em>
              </span>
            </div>
          </div>
          <!-- tags for desktop -->
          <div class="text-muted-primary mb-2 text-right d-none d-md-inline">
            <a class="badge badge-primary border round mr-1" [routerLink]="['/tag', tag]" *ngFor="let tag of package._tags">
              {{ tag }}
            </a>
            <fa-icon class="mr-1 mt-1" [styles]="{'vertical-align': 'text-bottom'}" [icon]="['fas', 'tags']"></fa-icon>
          </div>
        </div>
        <p class="card-text mb-3">
          {{ package.description }}
        </p>
        <!-- tags for mobile -->
        <div class="text-muted-primary mb-3 d-md-none">
          <fa-icon class="mr-1 mt-1"
            [styles]="{'vertical-align': 'text-bottom'}"
            [icon]="['fas', 'tags']">
          </fa-icon>
          <a class="badge badge-primary border round mr-1" [routerLink]="['/tag', tag]" *ngFor="let tag of package._tags">
            {{ tag }}
          </a>
        </div>
        <div class="row">
          <div class="col-6 col-md-3 col-xl-2 mb-3">
            <div><small class="text-muted-primary"><fa-icon [icon]="['fas', 'arrow-circle-down']"></fa-icon> Downloads</small></div>
            <div>
              <ng-template [ngIf]="package.downloadsCount > 100000" [ngIfElse]="lowDownloads">
                {{ package.downloadsCount / 1000  | number:'1.0-0' }}k
              </ng-template>
              <ng-template #lowDownloads>
                {{ package.downloadsCount | number:'1.0-0' }}
              </ng-template>
            </div>
            <small class="text-muted-primary">since last month</small>
          </div>
          <div class="col-6 col-md-3 col-xl-2 mb-3">
            <div><small class="text-muted-primary"><fa-icon [icon]="['fas', 'star']"></fa-icon> GitHub Stars</small></div>
            <div>{{ package.stars | number:'1.0-0' }}</div>
          </div>
          <div class="col-6 col-md-3 col-xl-2 mb-3" *ngIf="package.license !== null">
            <div><small class="text-muted-primary"><fa-icon [icon]="['fas', 'balance-scale']"></fa-icon> License</small></div>
            <span>{{ package.license }}</span>
          </div>
          <div class="col-6 col-md-3 col-xl-2 mb-3">
            <div><small class="text-muted-primary"><fa-icon [icon]="['fas', 'shield-alt']"></fa-icon> Compatability</small></div>
            <span ngbTooltip="Works with rxjs 6" *ngIf="package.rxjs6 === true">
              <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
              rxjs 6
            </span>
            <span ngbTooltip="Requires an old version" *ngIf="package.rxjs6 === false">
              <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
              rxjs 6
            </span>
            <span class="text-muted-primary" ngbTooltip="Not required or not declared" *ngIf="package.rxjs6 === null">
              <fa-icon [icon]="['fas', 'question-circle']"></fa-icon>
              rxjs 6
            </span>
            <br>
            <span ngbTooltip="Works with Angular 6" *ngIf="package.angular6 === true">
              <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
              Angular 6
            </span>
            <span ngbTooltip="Requires an old version" *ngIf="package.angular6 === false">
              <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
              Angular 6
            </span>
            <span class="text-muted-primary" ngbTooltip="Not required or not declared" *ngIf="package.angular6 === null">
              <fa-icon [icon]="['fas', 'question-circle']"></fa-icon>
              Angular 6
            </span>
          </div>
        </div>
      </div>
      <div class="bg-primary-dark px-3 px-md-5 py-2 text-uppercase">
        <a class="small mr-2 card-link" [href]="package.npmUrl" *ngIf="package.npmUrl">npm</a>
        <span class="small mr-2 card-link disabled" *ngIf="!package.npmUrl">npm</span>
        <a class="small mr-2 card-link" [href]="package.repositoryUrl" *ngIf="package.repositoryUrl">repository</a>
        <span class="small mr-2 card-link text-muted-primary" *ngIf="!package.repositoryUrl">repository</span>
        <a class="small mr-2 card-link" [href]="package.homepageUrl" *ngIf="package.homepageUrl">homepage</a>
        <span class="small mr-2 card-link text-muted-primary" *ngIf="!package.homepageUrl">homepage</span>
        <a class="small mr-2 card-link" [href]="package.issuesUrl" *ngIf="package.issuesUrl">issues</a>
        <span class="small mr-2 card-link text-muted-primary" *ngIf="!package.issuesUrl">issues</span>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3">
  <div class="row">
    <div class="col-12">
      <div class="p-2 px-md-5 py-md-3 readme rounded-bottom">
        <h3 *ngIf="readmeFailed" class="mb-0">Readme Not Found</h3>
      </div>
      <div *ngIf="!readmeFailed" class="p-2 px-md-5 py-md-3 readme rounded-bottom" [innerHTML]="readme"></div>
    </div>
  </div>
</div>
