<app-navigation></app-navigation>
<div class="container-flud">
  <div class="row">
    <div class="col-md-6 col-lg-5 col-xl-4" style="height: calc(100vh - 4rem);">
      <div class="bg-light" style="height: 100%">
        <app-searchbar></app-searchbar>
        <div class="px-3">
          <div class="results">
            <a *ngFor="let x of array">
              <div class="result border-bottom">
                <div class="card-body">
                  <h6 class="card-title">Card title</h6>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                  <div href="#" class="d-inline card-link">
                    <svg style="vertical-align:text-top" class="d-inline" width="13" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" ><path fill="currentColor" d="M400 64h-48V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H160V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zm-6 400H54c-3.3 0-6-2.7-6-6V160h352v298c0 3.3-2.7 6-6 6z"></path></svg>
                    2 days ago
                  </div>
                  <div href="#" class="d-inline card-link">Another link</div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div>
          <div class="algolia-wrapper mx-3 mt-2">
            Search by
            <a href="https://www.algolia.com/" class="algolia">Algolia</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
