<app-navigation></app-navigation>
<div class="container-flud">
  <div class="row">
    <div class="col-md-6 col-lg-5 col-xl-4" style="height: calc(100vh - 4rem);">
      <div class="bg-light" style="height: 100%">
        <app-searchbar></app-searchbar>
        <div class=" px-3">
          <div class="results">
            <div class="border-bottom" *ngFor="let x of array">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="algolia-wrapper mx-3 mt-2">
            Search by
            <a href="https://www.algolia.com/" class="algolia">Algolia</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
