<div class="container mt-3 mb-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 p-4 rounded" style="background-color: white">
      <h1>Submit a package</h1>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nameInput">Package Name</label>
          <input [(ngModel)]="name" name="name" style="border: #bcd0ec solid 1px" type="text" class="form-control" id="nameInput" aria-describedby="emailHelp" placeholder="Enter name" required>
          <small id="nameHelp" class="form-text text-muted">This should be the same name used in package.json and <a href="https://npmjs.com">npm</a></small>
        </div>

        <label>Catagories - Pick a few or none</label>
        <div class="form-check" *ngFor="let catagory of catagories">
          <input class="form-check-input" type="checkbox" name="catagory{{ catagory.name }}" id="catagory{{ catagory.name }}" [(ngModel)]="catagory.checked">
          <label class="form-check-label" for="catagory{{ catagory.name }}">
            {{ catagory.name }}
            <fa-icon class="small" *ngIf="catagory.description" [ngbTooltip]="catagory.description" [icon]="['fas', 'question-circle']"></fa-icon>
          </label>
        </div>

        <div class="form-group mt-3">
          <button [disabled]="!name" type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>

        <div *ngIf="loading">Submitting...</div>
        <div *ngIf="success" class="text-success">Success! - the package will be added after review</div>
      </form>
    </div>
  </div>
</div>
