@import "~bootstrap/scss/functions";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 668px,
  lg: 792px,
  xl: 850px
);
$container-max-widths: (
  sm: 540px,
  md: 620px,
  lg: 760px,
  xl: 912px
);

$blue: #3978DD;
$border-radius-sm: 0;

@import "~bootstrap/scss/variables";

$input-focus-width: 0;
$input-focus-box-shadow: #ced4da;
$input-focus-border-color: $primary;
$input-focus-width: 0;
$input-border-width: 0;
$input-color: $primary;
$input-group-addon-bg: #ffffff;
$input-placeholder-color: $gray-500;


$navbar-padding-y: $spacer / 10;
$navbar-toggler-padding-y:          .25rem;
$navbar-toggler-padding-x:          .25rem;
$navbar-toggler-font-size:          $font-size-lg;
$navbar-toggler-border-radius:      $btn-border-radius;
$navbar-light-toggler-border-color: $white;

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
// @import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

// header {
  // border-bottom: 1px solid $gray-500;
// }
body {
  background-color: whitesmoke;
}
.text-white {
  hr {
    border-color: darken($primary, 5%);
  }
}
.bg-primary-dark {
  background-color: darken($primary, 8%);
  a {
    color: white;
  }
}

.footer {
  margin-top: auto;
  h6 {
    color: lighten($primary, 12%);
  }
  a {
    color: lighten($primary, 30%);
  }
  color: white;
}
.text-muted-primary {
  color: lighten($primary, 30%);
}
.results {
  background-color: white;
}
.result:hover {
  background-color: $primary;
  color: white;
  cursor: pointer;
  .text-muted {
    color: lighten($primary, 40%) !important;
  }
  .text-primary, .text-success, .text-danger {
    color: white !important;
  }
  .text-dark {
    color: $gray-100 !important;
  }
}


// readme cleanup
.readme {
  background-color: white;
  .anchor {
  display: none;
  }
  pre {
    padding: 1em;
    background-color: whitesmoke;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.9rem;
  }
}
