<div class="home pb-1 mb-3">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-3">
        <h1 class="mt-md-5 mb-1 mt-3">
          <fa-icon [icon]="['fab', 'angular']" size="2x"></fa-icon>
          <br> Angular.parts
        </h1>
        <p class="lead">Awesome Packages for Angular</p>
        <app-searchbar></app-searchbar>
      </div>
    </div>
    <div class="row justify-content-around mb-1">
      <div class="col-12 col-md-8 text-center">
        <!-- <h6> <fa-icon class="mr-1 mt-1" [styles]="{'vertical-align': 'text-bottom'}" [icon]="['fas', 'tags']"></fa-icon>Tags</h6> -->
        <div class="text-muted-primary mb-2">
          <ng-template ngFor let-cat [ngForOf]="categories" let-i="index">
            <a class="badge badge-light mr-1" [routerLink]="['/tag', cat.name]">
              <strong class="text-muted">{{ cat.count }}</strong> {{ cat.name }}
            </a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-white pt-4 mb-3">
  <div class="row justify-content-around">
    <div class="col-12 col-md-6 col-lg-5 small">
      <h6 class="text-center text-uppercase">Recent Releases</h6>
      <hr class="my-2">
      <table class="table table-borderless table-sm">
        <tbody>
          <tr *ngFor="let package of recent">
            <td>
              <a class="text-white mr-1" [routerLink]="'/package/' + package.name">{{ package.name }}</a>
              <small>
                <em class="text-muted-primary">v{{ package.version }}</em>
              </small>
            </td>
            <td class="text-right text-muted-primary text-nowrap">
              {{ package.updated * 1000 | daysago }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-6 col-lg-5 small">
      <h6 class="text-center text-uppercase">Most Popular</h6>
      <hr class="my-2">
      <table class="table table-borderless table-sm">
        <tbody>
          <tr *ngFor="let package of popular">
            <td>
              <a class="text-white mr-1" [routerLink]="'/package/' + package.name">{{ package.name }}</a>
              <small>
                <em class="text-muted-primary">v{{ package.version }}</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">
              <fa-icon [icon]="['fas', 'star']"></fa-icon>
              <ng-template [ngIf]="package.stars > 1000">
                {{ package.stars / 1000 | number:'1.0-0' }}k
              </ng-template>
              <ng-template [ngIf]="package.stars < 1000">
                {{ package.stars | number:'1.0-0' }}
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
