<div class="container text-white">
  <div class="row">
    <div class="col-12 text-center mb-5">
      <h1 class="mt-md-5 mb-2" style="font-weight: 400">
        <fa-icon [icon]="['fas', 'file-archive']"></fa-icon>
        <br> Angular.parts
      </h1>
      <app-searchbar></app-searchbar>
    </div>
  </div>
</div>


<div class="container text-white">
  <div class="row justify-content-around">
    <div class="col-12 col-md-5 small">
      <h6 class="text-center text-uppercase">Recent Releases</h6>
      <hr class="my-2">
      <table class="table table-borderless table-sm">
        <tbody>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-5 small">
      <h6 class="text-center text-uppercase">Most Popular</h6>
      <hr class="my-2">
      <table class="table table-borderless table-sm">
        <tbody>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
          <tr>
            <td>
              <a class="text-white mr-1" href="#">@ng-bootstrap/ng-bootstrap</a>
              <small>
                <em class="text-muted-primary">v2.0.0</em>
              </small>
            </td>
            <td class="text-right text-muted-primary">2 days ago</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
